<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lineedit_history_viewer-search-panel-expression</key>
	<array>
		<string>magic rock</string>
		<string>piece of god</string>
		<string>instead of a head</string>
		<string>touch a bead</string>
		<string>dont think</string>
		<string>gone for hours</string>
		<string>without stopping</string>
		<string>you have three choices</string>
		<string>white stone platform</string>
		<string>summoned pattern as a shardblade</string>
		<string>carefully stepped inside</string>
		<string>the skull was broken</string>
	</array>
</dict>
</plist>
